
$background:white;
$box-shadow:rgba(107, 159, 189, 0.733);

$main-light: rgb(132, 158, 230);
$main:rgb(71, 106, 201);
$error:rgb(163, 7, 7);

$item-border:#3f5d6e00;
$item-border-hover: rgb(63, 93, 110);