@import '../../variables.scss';

.ChangeOrder{
    margin-top: 8px;
    margin-bottom: 24px;
    >*{margin: 0 8px}
        input{
        position: absolute;
        width: 24px;
        height: 24px;
        margin: 0 ;
        opacity: 0;
        
        ~label{
            cursor: pointer;
            color:$main;
            opacity: 0.8;
            &:hover{
                opacity: 1;
            }
            >*{
                width: 24px;
            }
        }
        &:checked{
            ~label{
                opacity: 1;
            }
        }
    }



}