@import '../../variables.scss';

.ItemList{
    padding: 20px 12px;
    margin: 4px;
    height: 100%;
    overflow-y: scroll;
    &::-webkit-scrollbar{
        background:none;
        width: 4px;
    }
    
    &::-webkit-scrollbar-thumb{
        cursor: pointer;
        background-color: $main-light;
        border-radius: 2px;
        &:hover{
            background-color: $main;
        }
    }
}