@import '../../variables.scss';

.container {
    display: block;
    padding:4px 0;
    margin:8px 0;

    width: 100%;

    &:hover{
        opacity: 1;
        >div{
            &:nth-child(1){
                border-color: $item-border-hover
            }
            &:nth-last-child(-n+1){
                >:nth-child(1){
                    opacity: 0.8;
                }
            }
            
        }  
    }

    >div{
        display: flex;
        transition: border-color 0.3s ease;

        &:nth-child(1){
            padding: 4px 0;
            margin:8px 0;
            border-bottom: 1px solid $item-border

            
        }
        &:nth-last-child(-n+1){
            >:nth-child(1){
                transition: opacity 0.3s ease;
                opacity: 0;
            }
            justify-content: space-between;
        }
    }
    
    
    
}
